/* --------------------------- General Body Formatting ------------------- */
body{
	background: #513c3c;
	background-image: url('https://sphotos-b.xx.fbcdn.net/hphotos-prn1/543645_105693576281522_1252487849_n.jpg');
	margin: 0 auto;
	width: 90%;	/* from 1100px to 90% */
}

/*----------------------- logo Formatting-----------------------------*/

#logo img{
	margin: 0.625em; /* adjust in media query */
	border: none;
	float: none;
	width: 50%;
	position: relative;
	left: 25%;	
}

/* -------------------------- Navigation Bar ------------------------- */

ul.nav{
	margin-left: 0.625em;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	width: 100%; /* spans entire body */
}

ul.nav li{
	float: left;
	width: 10.5%; /* use media query to adjust for responsiveness */
	overflow: hidden; /* hides nav text */
}

 /* only affects nav block. Adjust in media query */
ul.nav li a{
	text-decoration: none;
	color: white;
	background: -webkit-linear-gradient(top, silver, gray);
	display: block;
	height: 1.875em;
	line-height: 1.875em;
	text-align: center;
	font-size: 1em;
	border: 0.313em outset green;
	border-radius: 0.625em;
}

ul.nav li a:hover{
	border-color: orange;
}

ul.nav li a:active{
	border-color: black;
}

/*------------------------- Intro Section to sit next to aside ---------------*/

h1.introHeading {
	width: 72.727272727273%; /* same as paragraph container */
	font-family: 'Share Tech Mono', Verdana, sans-serif;
	color: white;
	margin:  0.625em; /* used em for predictability */
	padding-bottom: 0.625em;
	text-shadow: 0.313em 0.313em 0.313em black;
	clear: left;
}

p.introParagraph {
	width: 35%;
	float: left;
}

img.introImage{
	width: 40%;
	margin:  0 1.625em;
	float: right;
}

/*-------------------------- Aside Formatting --------------------------*/

aside {
	float: right;
	width: 18.181818181818%;	/* body is container 200/1100 */
}

aside ol {
	list-style-type: none;
}

aside ol li {
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	text-align: center;
}

aside ol li a{
	text-decoration: none;
	color: white;
	background: -webkit-linear-gradient(top, silver, gray);
	display: block;
	margin: 0; /* may have to reinsert margin 0 auto */
	padding: 1.250em;
	border: 0.313em outset green;	
}

aside ol li a:hover {
	border: outset orange;
}	

/*------------------------- Heading Formatting ----------------------*/

h1, h2{
	width: 72.727272727273%; /* same as paragraph container */
	font-family: 'Share Tech Mono', Verdana, sans-serif;
	color: white;
	margin:  0.625em; /* used em for predictability */
	padding-bottom: 0.625em;
	text-shadow: 0.313em 0.313em 0.313em black;
	clear: both;
}

h3{
	width: 35%; /* for monster subheadings */
	font-family: 'Share Tech Mono', Verdana, sans-serif;
	color: white;
	margin:  0.625em;
	padding-bottom: 0.625em;
	text-shadow: 0.313em 0.313em 0.313em black;
	clear: both;
}

/*-------------------------- General Paragraph Format ----------------*/

p{
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	width: 35%; /* body is the container 800px/1100px */
	color: white;
	margin-bottom: 0.625em; /* adjust margin and padding in media query */
	margin-left: 0.625em;
	padding-bottom: 0.938em;
}

/*-------------------------------- Resource Section -----------------------------*/

img.resourcesImage{
	width: 50%;
	float: right;
	margin:  0 1.625em;
}

/*-------------------------------- Crafting Section ----------------------------*/

img.craftingImage{
	width: 50%;
	float: right;
	margin:  0 1.625em;
}

/*-------------------------------- Tools Section -------------------------------*/

img.toolsImage{
	width: 50%;
	float: right;
	margin:  0 1.625em;
}

/*-------------------------------- Building Structures Section -----------------*/

img.buildingStructuresImage{
	width: 50%;
	float: right;
	margin:  0 1.625em;
}

/*-------------------------------- Gathering Food Section ------------------------------*/

img.gatheringFoodImage{
	width: 50%;
	float: right;
	margin:  0 1.625em;
}

/*--------------------------------- Monster Section -----------------------------*/

section.monsters {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-gap: 0.75em; /* distance between columns */
	margin-top: 1.875em; /* further adjust in media query */
	margin-bottom: 1.875em;
	float: none;
}

section.monsters img{
	float: none;
	width: 60%;
	margin-left: 0.625em;
}

section.monsters p{
	margin-left: 0.625em;
	width: 60%;
}

/*--------------------------------- Animal Section ------------------------------*/

section.animals {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-gap: 0.75em; /* distance between columns (-.25 from W3C recommendation) */
	margin-top: 1.875em; /* further adjust in media query */
	margin-bottom: 1.875em;
	float: none;
}

section.animals img{
	width: 60%;
	float: none;
	margin-left: 0.625em;
}

section.animals p{
	width: 60%;
	margin-left: 0.625em;
}

/*------------------------- Natural Structures Section ---------------*/
	
img.naturalStructuresImage{
	width: 50%;
	float: right;
}

/*------------------------ Table Formatting --------------------------*/

table {
	border: 0.313em outset green;
	background: -webkit-linear-gradient(top, silver, gray);	
	margin: 1em;
}
th {
	font-style: bold;
	font-family: 'Share Tech Mono', Verdana, sans-serif;
	padding: 0.625em;
	border: 0.188em inset black;
}
td {
	padding: 0.625em;
	border: 0.188em inset black;
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	text-align: center;
}
	
/*------------------------- Gallery Formatting------------------------*/

ol.gallery{ /* Unordered list class */
	list-style-type: none;
	margin-left: 0.625em;
	margin-top: 1em;
	padding: 0;
	width: 72.727272727273%; /* made the same width as the header */
	float: left;
	overflow: hidden;
}

ol.gallery li{
	width: 100%; /* ol is container */
	height: 100%;
	border: none;
}

ol.gallery li a{
	border: 0.313em outset green;
	display: block;
	width: 10%; /* as ol length decreases, so does the link size */
	height: 100%;
	float: left;
	overflow: hidden; /* will keep images from expanding beyond link border*/
	
}

ol.gallery li a:hover{
	border: 0.313em outset orange;
}

ol.gallery li a:active{
	border: 0.313em outset black;
}

/*-------------------------- CTA Button --------------------------------*/

h1.cta{
	margin: 0.625em;
	list-style-type: none;
	overflow: hidden;
}

h1.cta a{
	text-decoration: none;
	color: white;
	background: -webkit-linear-gradient(top, silver, gray);
	display: block;
	height: 1.875em;
	width: 45.454545454545%; /* body is container 500/1100 */
	line-height: 1.875em;
	text-align: center;
	border: 0.313em outset green;
	border-radius: 0.625em;
} /* end initial link */

h1.cta a:hover{
border-color: orange;
}

h1.cta a:active{
	border-color: black;
}

/*--------------------------- Form Formatting ---------------------------*/

form {
	background: -webkit-linear-gradient(top, silver, gray);
	border: 0.313em outset green;
	font: white;
	margin:  0.625em;
	width: 50%;
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	color: white;
}

form select{
	width: 25%;
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	font-size: 1em;
	margin: 0.625em;
}

input{
	width: 50%;
	position: relative 50%;
	border: 0.313em inset rgba(0, 0, 0, 0.5);
}

input:focus{
	background: #c1ffde;
}

form textarea{
	width: 50%;
}

textarea:focus{
	background: #c1ffde;
}

#submit{
	width: 25%;
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	font-size: 1em;
	border-radius: 0.625em;
	border: 0.313em outset green;
	background: -webkit-linear-gradient(top, #38b638, #184f20);
	margin: 0.625em;
}

#submit a:hover{
	border-color: orange;
}

/*--------------------------- Footer Formatting -------------------------*/

footer{
	height: 3.125em;
	background: -webkit-linear-gradient(top, #38b638, #184f20);
	overflow: hidden;
	opacity: 0.90;
}

footer p{
	font-family: 'Share Tech Mono', Verdana, sans-serif;
	text-align: center;
	margin: 0 auto;
	padding-top: 0.625em;
}


/*--------------------------------- Media Queries ------------------------------------*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
ul.nav li{
	float: left;
	width: 12.5%; /* use media query to adjust for responsiveness */
	overflow: hidden; /* hides nav text */
}

aside{
	display: none;
}
		
p.introParagraph{
	float: none;
	width: 60%;
	margin-left: 1em;
}
		
p.resourcesParagraph{ 
	float: none;
	width: 60%;
	margin-left: 1em;
}

p.craftingParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}
	
p.toolsParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.buildingStructuresParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.gatheringFoodParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.naturalStructuresParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
		}

img.introImage{
	width: 50%;
	margin-left: 1em;
	float: right;
	clear: none;
}

img.resourcesImage{ 
	width: 50%;
	float: right;
	margin-right: 1em;
	clear: none;
}

img.craftingImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.toolsImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.buildingStructuresImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.gatheringFoodImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.naturalStructuresImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

h1 {
	clear: none;
}

ol.gallery li a{
	width: 12.5%; /* as ol length decreases, so does the link size */
}

p.closing{
	width: 75%;
	clear: both;
}
}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 600px) and (max-width: 767px) {

ul.nav li{
	float: left;
	width: 12.5%; /* use media query to adjust for responsiveness */
	overflow: hidden; /* hides nav text */
}
	
aside{
	display: none;
}

table{
	display: none;
}

h2.table{
	display: none;
}

p.introParagraph{
	float: none;
	width: 60%;
	margin-left: 1em;
}

p.resourcesParagraph{ 
	float: none;
	width: 60%;
	margin-left: 1em;
}

p.craftingParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.toolsParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.buildingStructuresParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.gatheringFoodParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.naturalStructuresParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

img.introImage{
	width: 50%;
	margin-left: 1em;
	float: right;
	clear: none;
}

img.resourcesImage{ 
	width: 50%;
	float: right;
	margin-right: 1em;
	clear: none;
}
		
img.craftingImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.toolsImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.buildingStructuresImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.gatheringFoodImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}

img.naturalStructuresImage{
	width: 50%;
	float: right;
	margin-right: 1em;
}
		
h1 {
	clear: none;
}

ol.gallery li a{
	width: 15%; /* as ol length decreases, so does the link size */
}

p.closing{
	width: 75%;
	clear: both;
}
}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 599px) {

#logo{
	display: none;
}

ul.nav li{
	float: none;
	width: 100%; /* use media query to adjust for responsiveness */
	overflow: hidden; /* hides nav text */
}

aside{
	display: none;
}
		
p.introParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.resourcesParagraph{ 
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.craftingParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.toolsParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.buildingStructuresParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.gatheringFoodParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

p.naturalStructuresParagraph{
	float: none;
	width: 100%;
	margin-left: 1em;
}

img.introImage{
	width: 90%;
	margin-left: 1em;
	float: none;
	clear: none;
}

img.resourcesImage{ 
	width: 90%;
	float: none;
	margin-right: 1em;
	clear: none;
}

img.craftingImage{
	width: 90%;
	float: none;
	margin-right: 1em;
	clear: none;
}

img.toolsImage{
	width: 90%;
	float: none;
	margin-right: 1em;
	clear: none;
}

img.buildingStructuresImage{
	width: 90%;
	float: none;
	margin-right: 1em;
}

img.gatheringFoodImage{
	width: 90%;
	float: none;
	margin-right: 1em;
}

img.naturalStructuresImage{
	width: 90%;
	float: none;
	margin-left: 1em;
}

h1.introHeading {
	width: 100%;
}

ol.gallery{ /* Unordered list class */
	width: 90%;
}

ol.gallery li a{
	width: 25%; /* as ol length decreases, so does the link size */
}

h1.cta a{
	width: 75%;
}

p.closing{
	width: 100%;
	clear: both;
}
		
section.monsters {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	margin-left: 1em; 
	float: none;
}

section.monsters img{
	float: none;
	width: 90%;
	margin-left: 0.625em;
}
	
section.monsters p{
	margin-left: 0.625em;
	width: 100%;
}
	
section.animals {
	-webkit-column-count: 1;
	-moz-column-count: 1;
}

section.animals img{
	width: 90%;
	float: none;
	margin-left: 1em;
}
	
section.animals p{
	width: 100%;
	margin-left: 1em;
}

footer {
	width: 100%;
}
}


