/* --------------------------- General Body Formatting ------------------- */
body{
	background: 513c3c;
	background-image: url('https://sphotos-b.xx.fbcdn.net/hphotos-prn1/543645_105693576281522_1252487849_n.jpg');
	margin: 0;	
}

/* -------------------------- Navigation Bar ------------------------- */

ul.nav{
margin: 0 auto;
list-style-type: none;
overflow: hidden;
}

ul.nav li{
float: left;
width: 100px;
}
 /* only affects nav block */
ul.nav li a{
text-decoration: none;
color: white;
background: gray;
display: block;
height: 30px;
line-height: 30px;
text-align: center;
border-style: outset;
border-width: 5px;
border-color: green;
border-radius: 10px;
}
ul.nav li a:visited{
border-color: black;
}
ul.nav li a:hover{
border-color: orange;
}
ul.nav li a:active{
border-color: black;
}


/*-------------------------- General Paragraph Format ----------------*/
p{
	font-family: 'Roboto Condensed' Verdana sans-serif;
	width: 50%;
	color: white;
	margin: 0 50px;
	padding-bottom: 15px;
}


/*------------------------- Heading Formatting ----------------------*/

h1, h2, h3, h4, h5, h6{
	font-family: 'Share Tech Mono' Verdana sans-serif;
	color: white;
	margin: 0 50px;
	padding-bottom: 10px;
	text-shadow: 5px 5px black;
}

/*----------------------- logo Formatting-----------------------------*/

#logo img{
	margin: 0 50px;
	padding-bottom: 20px;
	
}

/*------------------------ image formatting --------------------------*/

.photo{
	margin-top: 15px;
	margin-left: 10px;
	padding: 5px;
}
	
/*------------------------- Gallery Formatting------------------------*/

ol.gallery{
	list-style-type: none;
	overflow: hidden;
	margin: 20px auto;
	padding: 5px;
	height: 500px;
}
ol.gallery li{
	float: left;
	margin: 10px;
	border: 5px outset green;
}
ol.gallery li a{
	display: block;
	
}

/*--------------------------- Footer Formatting -------------------------*/

footer{
	height: 50px;
	background: gray;
	overflow: hidden;
}
footer p{
	font-family: Verdana;
	margin; 0 auto;
	padding-top: 10px;
}

/*-------------------------- CTA Button --------------------------------*/

.cta{
}


