/* --------------------------- General Body Formatting ------------------- */
body{
	background: 513c3c;
	background-image: url('https://sphotos-b.xx.fbcdn.net/hphotos-prn1/543645_105693576281522_1252487849_n.jpg');
	margin: 0;	
}

/* -------------------------- Navigation Bar ------------------------- */

ul{
margin: 0 auto;
list-style-type: none;
overflow: hidden;
}

ul li{
float: left;
width: 100px;
}
 /* only affects nav block */
a{
text-decoration: none;
color: white;
background: gray;
display: block;
height: 30px;
line-height: 30px;
text-align: center;
border-style: outset;
border-width: 5px;
border-color: green;
border-radius: 10px;	
}
a:visited{
border-color: black;
}
a:hover{
border-color: orange;
}
a:active{
border-color: black;
}


/*-------------------------- General Paragraph Format ----------------*/
p{
	font-family: 'Roboto Condensed' Verdana sans-serif;
	width: 50%;
	color: white;
	margin: 0 50px;
	padding-bottom: 15px;
}


/*------------------------- Heading Formatting ----------------------*/

h1, h2, h3, h4, h5, h6{
	font-family: 'Share Tech Mono' Verdana sans-serif;
	color: white;
	margin: 0 50px;
	padding-bottom: 10px;
	text-shadow: 5px 5px black;
}

/*----------------------- logo Formatting-----------------------------*/

#logo img{
	margin: 0 50px;
	padding-bottom: 20px;
	
}

/*------------------------ image formatting --------------------------*/

#photos img{
	margin: 0 50px;
	padding-bottom: 20px;
}
	
/*------------------------- Gallery Formatting------------------------*/

ol .gallery{
	list-style-type: none;
	border: 5px outset green;
	overflow: hidden;
}
li {
	float: left;
}

/*--------------------------- Footer Formatting -------------------------*/

footer{
	height: 50px;
	background: gray;
	font-family: Verdana;
	overflow: hidden;
}

/*-------------------------- CTA Button --------------------------------*/

.cta{
	background: purple
}


