/* --------------------------- General Body Formatting ------------------- */
body {
	background: 513c3c;
	background-image: url('https://sphotos-b.xx.fbcdn.net/hphotos-prn1/543645_105693576281522_1252487849_n.jpg')
	margin: 0, auto;
	
	
}

/* -------------------------- Navigation Bar ------------------------- */
nav {
	text decoration: none;
	
}

/*-------------------------- General Paragraph Format ----------------*/
p {
	font-family: 'Roboto Condensed', Verdana sans-serif;
	color: white;
	width: 75%;
	margin: 15px, 15px;
	padding: 0;
}

/*------------------------- Heading Formatting ----------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Share Tech Mono', Verdana sans-serif;
	color: white;
	margin: 15px, 15px, 0px, 0px;
	padding: 0px, 15px;
}

/*----------------------- Logo Formatting-----------------------------*/

#logo {
	
}

